<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <ul>
            <li v-for="(v,k) in obj">
                <div>
                    <div>{{k}}</div>
                    <div style="border:1px solid red">
                        <div v-for="(value,key) in v">
                            {{key}}:{{value.pid_pid}}-{{value.pid_state}}
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                obj:{
                   
                },
                map:{}
            },
            mounted() {
               let arr = [
                   [1000,[[1,'aaa',0],[2,'bbb',1]]],
                   [1001,[[1,'aaa',1],[2,'bbb',1]]],
                   [1002,[[1,'aaa',1],[2,'bbb',1]]],
                   [1003,[[1,'aaa',1],[2,'bbb',1]]],
               ]
               let obj = {};
               arr.forEach(item=>{
                    let pidObj = {};
                    item[1].forEach(ele=>{
                        pidObj[ele[0]] = {pid_pid:ele[1],pid_state:ele[2]}
                    })
                    obj[item[0]] = pidObj;
               })
               console.log(obj)
               this.obj = obj;
            },
            methods: {
                
            }
        })
    </script>
</body>

</html>